.pokemon-list {
	padding: 2.4rem 1.6rem;
	background: linear-gradient(
		180deg,
		rgba(245, 251, 255, 0.76) 0%,
		rgba(245, 251, 255, 0) 101.56%
	);
	backdrop-filter: blur(40px);
	border-radius: 8px 8px 0px 0px;

	.inner-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.6rem;
		overflow-y: scroll;
		height: calc(100vh - 18rem);
	}
}
